
.prof-wrapper {
    position: relative;
    // background-color:blue;

    .prof-description {
        color: rgb(172, 113, 2);
        
        &.career {
            font-size:x-small;
            width: 37%;
            height: auto;
            position: absolute;
            z-index: 1;
            // background-color: pink;
            top: 45%;
            left: 27%;
        }
        &.job {
            font-size:0.1em;
            width: 90%;
            height:auto;
            position: absolute;
            z-index: 1;
            // background-color: skyblue;
            top: 58%;
            left: 1%;
        }
    }
}

// .section-wrapper.prof-wrapper.prof-img {
//     display: none;
//     width: 100%;
//     margin-top: 2vh;
//     margin-bottom: 10vh;
// }


.prof-img {
    display: none;
}

.prof-img-sm {
    width: 100%;
    margin: 0 0 15%;
}
// =============================================
// Responsive
// =============================================

/*　スマホランドスケープ　画面サイズが420pxから680pxまではここを読み込む　*/
@media screen and (min-width: 420px) and (max-width: 600px) {

}

/*　タブレット　縦　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width: 601px) and (max-width: 1000px) {
    // .prof-img {
    //     display: none;
    // }


    // .prof-img-sm {
    //     width: 100%;
    // }

    // .contents-width {
    //     width: 90%;
    // }
  
}
// /*　デスクトップ　画面サイズが1001px以上はここを読み込む　*/
@media screen and (min-width: 1001px) {

    header {
        position: fixed;
        z-index: 20;
    }
    .prof-img {
        display: block;
        width: 100%;
        margin: 0 0 10%;
    }

    .prof-img-sm {
        display: none;
    }

    .content-width {
        width: 85%;
    }


    .prof-wrapper .prof-description.career{
        font-size: medium;
    }

    .prof-wrapper .prof-description.job{
        font-size: medium;
        top: 68%;
        left: 3%;
    }

    .section-wrapper {
        padding-bottom: 5%;
    }
}